*.ui~
*.FASL
*.fasl
*.lisp-temp
/lispkit
/scripts/lispkit
/scripts/src/*
/scripts/pkg/*
*.xz
/scripts/src/lispkit
/lispkit.tar.gz
/scripts/main.ui
*.gz
/pkg/
/src/
*.deb
quicklisp.lisp
/deps
/.quicklocal/
/bin/
